$wine-friesp: (
    50: #f7e1e1,
    100: #ebb4b3,
    200: #dd8281,
    300: #cf504e,
    400: #c52b28,
    500: #bb0502,
    600: #b50402,
    700: #ac0401,
    800: #a40301,
    900: #960101,
    A100: #ffc1c1,
    A200: #ff8e8e,
    A400: #ff5b5b,
    A700: #ff4141,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);
