<div class="friesp-page">
    <mat-card class="card-page">

        <div class="floating-icon-container">
            <mat-icon class="floating-icon">credit_card</mat-icon>
        </div>

        <mat-card-header>
            <mat-card-title class="title-card-page">Métodos de pago</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="1rem">
                <div fxLayout="column" class="filtro-page">
                    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">

                        <mat-form-field fxFlex="calc(25% - 3rem)">
                            <mat-label>Nombre entidad, aplicación o pasarela</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field fxFlex="calc(25% - 3rem)">
                            <mat-label>Tipo método</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let t of tiposMetodoPago" [value]="t.id">{{t.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="calc(25% - 3rem)">
                            <mat-label>Estado de pedido</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let e of estados" [value]="e.id">{{e.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button fxFlex="calc(25% - 3rem)" mat-raised-button color="primary">Buscar</button>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between end">
                    <h4 class="header-table">Lista de Métodos de Pago</h4>
                    <button mat-mini-fab color="primary" (click)="crearEditarMetodoPago()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
                    <!-- N° Column -->
                    <ng-container matColumnDef="N°">
                        <th mat-header-cell *matHeaderCellDef> N° </th>
                        <td mat-cell *matCellDef="let element, let index=index"> {{index + 1}} </td>
                    </ng-container>
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                    <!-- Tipo Column -->
                    <ng-container matColumnDef="Tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                    </ng-container>
                    <!-- Estado Column -->
                    <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>
                    <!-- Acciones Column -->
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <div>
                                <button mat-icon-button (click)="crearEditarMetodoPago(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="activarDesactivarMetodoPago(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>